{%- from "jbossapache/map.jinja" import jbossapache_settings with context %}
{%- set mod_cluster_settings = jbossapache_settings.mod_cluster %}
################################
# This file is managed by SALT #
# Any edits may be overwritten #
################################

Maxcontext {{ mod_cluster_settings.maxcontext }}
Maxnode {{ mod_cluster_settings.mod_cluster.maxnode }}
Maxhost {{ mod_cluster_settings.mod_cluster.maxhost }}
MemManagerFile {{ mod_cluster_settings.memmanagerfile }}

{%- set minion_jboss_environment_name = grains['environment'] %}
<IfModule manager_module>
  Listen *:6666
  <VirtualHost *:6666>
    <Directory />
      Order deny,allow
      Deny from all
      {%- for server, addrs in salt['mine.get']('G@roles:mod-cluster-node and G@environment:'~minion_jboss_environment_name, 'network.ip_addrs', expr_form='compound').items() %}
      {%- for addr in addrs %}
      Allow from {{ addr }}
      {%- endfor %}
      {%- endfor %}
    </Directory>
    KeepAliveTimeout 60
    MaxKeepAliveRequests 0
    ServerAdvertise Off
    EnableMCPMReceive
    ManagerBalancerName mycluster
    <Location /mod_cluster_manager>
      SetHandler mod_cluster-manager
      Order deny,allow
      Deny from all
      Allow from 127.0.0.1
      Allow from ::1
   </Location>
  </VirtualHost>
</IfModule>
